@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

<style>
    .btnAction{
        margin-left:5px;
    }
</style>

<div class="text-center">
    <form id="formTransaction">
        <div class="form-group">
            <button class="btn btn-primary" type="button" id="btnAddCategory" data-toggle="modal">Add Category <i class="far fa-life-ring fa-spin"></i></button>
            <button class="btn btn-primary" type="button" id="btnAddItem" data-toggle="modal">Add Item <i class="far fa-life-ring fa-spin"></i></button>
        </div>
    </form>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Categories</h3>
                <table id="tblSummary" class="table">
                    <thead>
                        <tr>
                            <th class="text-center" style="vertical-align:text-top">Action</th>
                            <th class="text-center">Category</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col">
                <h3>Items</h3>
                <table id="tblSummaryItem" class="table">
                    <thead>
                        <tr>
                            <th class="text-center" style="vertical-align:text-top">Action</th>
                            <th class="text-center">Category</th>
                            <th class="text-center">Item</th>
                            <th class="text-center">Description</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="../scripts/index.js"></script>

@Html.Partial("~/Views/Home/_PopUpAdd.cshtml")
@Html.Partial("~/Views/Home/_PopUpEdit.cshtml")